[Unit]
Description=Sync ip with hopper every 10 minutes
After=network.target
Wants=gonsupdate.timer

[Service]
Type=oneshot
ExecStart=/usr/bin/gonsupdate

[Install]
WantedBy=multi-user.target
