[Unit]
Description=Timer for hopper_update

[Timer]
# start as soon as possible the firt time (after reboot for example)
Persistent=false
OnBootSec=0s
OnCalendar=*:0/10
Unit=hopper_update.service

[Install]
WantedBy=default.target
