[Unit]
Description=Sync ip with nsupdate.info every 10 minutes if necessary
After=network.target
Wants=gonsupdate.timer

[Service]
Type=oneshot
ExecStart=/usr/bin/gonsupdate

[Install]
WantedBy=multi-user.target
